//---------------------------------------------------------------------------
//
// Name:        HexApp.rc
// Author:      admin
// Created:     28/08/2011 17:54:25
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
